@use './colors.scss' as *;

.about {
    width: 100%;
    padding: 6rem 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h3 {
        font-size: 26px;
        font-weight: 400;
        position: relative;
        margin-bottom: 5rem;
    }

    h3::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 4px;
        bottom: -5px;
        left: 10%;
    }

    .about-flex-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .col-1-about {
        flex: 1;
    }

    .col-2-about {
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar-about {
            aspect-ratio: 1 / 1;
            width: 70% !important;
            max-width: 325px !important;
            margin: 0 auto;
            border-radius: 50%;
        }
    }

}

.about.dark {
    background: $background-gradient-dark-theme;

    h3 {
        color: $text-primary-dark-theme;
    }

    h3::after {
        background: $gradient-red-dark-theme;
    }

    p {
        color: $text-secondary-dark-theme;
    }

    .avatar-about {
        box-shadow: $shadow-dark-theme;
    }
}

.about.light {
    background: $background-gradient-light-theme;

    h3 {
        color: $text-primary-light-theme;
    }

    h3::after {
        background: $gradient-red-light-theme;
    }

    p {
        color: $text-secondary-light-theme;
    }

    .avatar-about {
        box-shadow: $shadow-light-theme;
    }
}

@media screen and (min-width: 1000px) {
    .about {
        padding: 6rem 12vw;

        .about-flex-container {
            flex-direction: row;
            gap: 5rem;
    
            .avatar-about {
                min-width: 300px;
            }
        }

        p {
            font-size: 18px;
        }
    }

}

@media screen and (min-width: 1600px) {
    .about {
        padding: 6rem 15vw;

        .about-flex-container {
            gap: 8rem;
        }
    }
}