
$primary-dark-theme: #2D2D2D;
$primary-light-theme: #E4E4E4;

$background-gradient-dark-theme: linear-gradient(180deg, #2D2D2D 0%, #323232 100%);
$background-gradient-light-theme: linear-gradient(180deg, #E4E4E4 0%, #eeeeee 100%);

$gradient-red-dark-theme: linear-gradient(66deg, #C20E0E 0%, #E04B1C 100%);
$gradient-red-light-theme: linear-gradient(66deg, #CA0D0D 0%, #F55F30 100%);

$accent-red-dark-theme: #C20E0E;
$accent-red-light-theme: #CA0D0D;

$text-primary-dark-theme: #ACACAC;
$text-primary-light-theme: #525252;

$text-secondary-dark-theme: #929292;
$text-secondary-light-theme: #828282;

$icon-bg-dark-theme: #424242;
$icon-bg-light-theme: #f7f7f7;

$icon-text-dark-theme: #ABABAB;
$icon-text-light-theme: #535353;

$shadow-dark-theme: 1px 1px 17px -7px rgba(21, 21, 21, 1);
$shadow-light-theme: 1px 1px 17px -7px rgb(112, 112, 112);
