@use './colors.scss' as *;

.home {
    height: 100vh;
    width: 100%;
    padding: 10rem 10vw;
    overflow: hidden;

    .content-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        gap: 5rem;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    img {
        aspect-ratio: 1 / 1;
        width: 70%;
        margin: 0 auto;
        border-radius: 50%;

    }

    h1 {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    .h-span {
        font-size: 40px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

    .gradient-wrap {
        width: 106px;
        height: 40px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin-top: 1.5rem;
    }

    .resume-btn {
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        line-height: 8px;
        gap: 6px;
        transition: all 0.17s ease;
    }

    .file-icon {
        opacity: 0.85;
        transition: all 0.17s ease;
    }
}

.home.dark {
    background: $background-gradient-dark-theme;

    h1 {
        color: $text-primary-dark-theme;
    }

    .h-span {
        background: -webkit-linear-gradient(66deg, #C20E0E 0%, #E04B1C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: $text-secondary-dark-theme;
    }

    .gradient-wrap {
        background: $gradient-red-dark-theme;
    }

    .resume-btn {
        background: $background-gradient-dark-theme;
        color: $accent-red-dark-theme;

    }

    .file-icon {
        color: #E04B1C;
    }

    .resume-btn:hover {
        background: transparent;
        color: #ccc;
        .file-icon {
            color: #ccc;
            opacity: 1;
        }
    }

    img {
        box-shadow: $shadow-dark-theme;
    }
}

.home.light {
    background: $background-gradient-light-theme;

    h1 {
        color: $text-primary-light-theme;
    }

    .h-span {
        background: -webkit-linear-gradient(66deg, #CA0D0D 0%, #F55F30 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: $text-secondary-light-theme;
    }

    .gradient-wrap {
        background: $gradient-red-light-theme;
    }

    .resume-btn {
        background: $background-gradient-light-theme;
        color: $accent-red-light-theme;
    }

    .file-icon {
        color: #F55F30;
    }

    .resume-btn:hover {
        background: transparent;
        color: #dfdfdf;
        .file-icon {
            color: #dfdfdf;
            opacity: 1;
        }
    }

    img {
        box-shadow: $shadow-light-theme;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        white-space: pre-wrap !important;
    }
}

@media screen and (min-width: 1220px) {
    section {
        padding: 13rem 14vw;
    }

    img {
        width: 55% !important;
    }

    h1 {
        font-size: 36px !important;
    }

    .h-span {
        font-size: 46px !important;
    }
}