@use './colors.scss' as *;

.home {
    height: 100vh;
    width: 100%;
    padding: 8rem 10vw;
    overflow: hidden;

    .content-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
        gap: 5rem;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        aspect-ratio: 1 / 1;
        width: 70%;
        margin: 0 auto;
        border-radius: 50%;

    }

    h1 {
        font-weight: 500;
        font-size: 32px;
        white-space: nowrap;
    }

    .name {
        margin-bottom: 1rem;
    }

    .h-span {
        font-size: 38px;
        white-space: nowrap;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

    .cta-buttons {
        margin-top: 1.75rem;
        display: flex;
        gap: 1rem;

        .cta {
            text-decoration: none;

            border-radius: 12px;
            cursor: pointer;
            transition: all 0.2s;

            .cta-cv-items,
            .cta-gh-items {
                padding: 8px 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                p {
                    font-size: 16px;
                    font-family: 'Roboto Mono', monospace;
                }
            }
        }

        .cta-gh:hover {
            filter: brightness(0.85);
        }
    }
}

.home.dark {
    background: $background-gradient-dark-theme;

    h1 {
        color: $text-primary-dark-theme;
    }

    .h-span {
        background: -webkit-linear-gradient(66deg, #C20E0E 0%, #E04B1C 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: $text-secondary-dark-theme;
    }

    img {
        box-shadow: $shadow-dark-theme;
    }

    .cta-buttons {
        .cta-gh {
            background-color: #da4113;
            .cta-gh-items {
                color: white;
                p {
                    color: white;
                }
            }
        }

        .cta-cv {
            background-color: transparent;
            border: 1px solid #da4113;
            .cta-cv-items {
                color: #da4113;
                p {
                    color: #da4113;
                }
            }
        }

        .cta-cv:hover {
            background-color: #92391e22;  
        }
    }
}

.home.light {
    background: $background-gradient-light-theme;

    h1 {
        color: $text-primary-light-theme;
    }

    .h-span {
        background: -webkit-linear-gradient(66deg, #CA0D0D 0%, #F55F30 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: $text-secondary-light-theme;
    }


    img {
        box-shadow: $shadow-light-theme;
    }

    .cta-buttons {
        .cta-gh {
            background-color: #e04311;
            .cta-gh-items {
                color: white;
                p {
                    color: white;
                }
            }
        }

        .cta-cv {
            background-color: transparent;
            border: 1px solid #e04311;
            .cta-cv-items {
                color: #e04311;
                p {
                    color: #e04311;
                }
            }
        }

        .cta-cv:hover {
            background-color: #d86d4d1e;  
        }
    }
}

@media screen and (max-width: 520px) {
    h1 {
        white-space: pre-wrap !important;
    }
}

@media screen and (min-width: 768px) {
    img {
        width: 55% !important;
    }
}

@media screen and (min-width: 847px) {
    .header-container {
        align-items: flex-start !important;
    }
}

@media screen and (min-width: 1220px) {
    .home {
        padding: 13rem 14vw;
    }

    h1 {
        font-size: 36px !important;
    }

    .h-span {
        font-size: 46px !important;
    }
}