@use './colors.scss' as *;

.skills {
    width: 100%;
    padding: 6rem 8vw 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
        gap: 3.5rem;
    }

    .flex-wrap {
        display: flex;
        align-items: center;
    }

    .tech-stack-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: flex-start;
    }

    .tech-stack-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 0 10px;
        font-family: 'Roboto Mono', monospace;
        cursor: default;

        p {
            font-family: 'Roboto Mono', monospace;
        }
    }

    .tech-stack-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
    }

    h3 {
        font-size: 26px;
        font-weight: 400;
        position: relative;
        margin-bottom: 5rem;
    }

    h3::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 4px;
        bottom: -5px;
        left: 10%;
    }

    p {
        font-size: 18px;
    }

    .bolder {
        font-size: 19px;
        font-weight: 500;
    }
}

.skills.dark {
    background: $background-gradient-dark-theme;

    h3 {
        color: $text-primary-dark-theme;
    }

    h3::after {
        background: $gradient-red-dark-theme;
    }

    p {
        color: $text-secondary-dark-theme;
    }

    .tech-stack-btn {
        background-color: $icon-bg-dark-theme;
        box-shadow: $shadow-dark-theme;
        color: $icon-text-dark-theme;
        p {
            color: $icon-text-dark-theme;
        }
    }
}

.skills.light {
    background: $background-gradient-light-theme;

    h3 {
        color: $text-primary-light-theme;
    }

    h3::after {
        background: $gradient-red-light-theme;
    }

    p {
        color: $text-secondary-light-theme;
    }

    .tech-stack-btn {
        background-color: $icon-bg-light-theme;
        box-shadow: $shadow-light-theme;
        color: $icon-text-light-theme;
        p {
            color: $icon-text-light-theme;
        }
    }
}

@media screen and (min-width: 1150px) {
    .skills {
        padding: 6rem 18vw 9rem !important;

        .content-wrap {
            gap: 5rem;
        }
    }
    
}